@import 'tailwindcss' source(none);
@source '../**/*.{js,ts,jsx,tsx}';

@import 'tw-animate-css';

.animate-marquee {
  display: flex;
  animation: marquee 30s linear infinite;
  width: max-content;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee:hover {
  animation-play-state: paused;
}

@media (max-width: 767px) {
  .marquee-logo {
    filter: grayscale(0%) !important;
  }
}

.marquee-logo {
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.marquee-logo:hover {
  filter: grayscale(0%);
}